.projectCard {
  width: 284px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.projectCard .projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.projectCard h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.githublink {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
}

.imageContainer {
  border: 1px solid white;
  height: 152px;
  width: 242px;
}
