.navContainer {
  display: flex;
  /*justify-content: space-between;*/
  align-items: baseline;
  padding: 1rem 0;
  background-color: #1D1E20;
}

.navContainer .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navList {
  display: flex;
}

.navListItem {
  margin-inline: 10px;
}


